.principal {
    border: 1px solid black;
    padding: 0;
    width: 70vw;
    max-width: 1000px;
    margin: 3rem auto;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

h3 {
    border-bottom: 1px solid black;
    padding: 1rem;
    background: grey;
    text-align: center;
    margin: 0;
}

.evento{
    width: 80%;
    text-align:justify;
    margin: 1rem auto 0 auto;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
}

.evento button.deleta{
    width: 15%;
    justify-self: flex-start;
    margin-left: 1rem;
    margin-top: 0.2rem;
    background: red;
    color: snow;
    font-size: 15px;
}

.evento button.edita{
    width: 15%;
    justify-self: flex-start;
    margin-left: 1rem;
    margin-top: 0.2rem;
    background: cornflowerblue;
    color: snow;
    font-size: 15px;
}

.mensagem{
    width: 100%;
    text-align:justify;
    margin: 1rem auto 0 auto;
    padding: 0.2rem;
    border: 1px solid black;
}
.mensagem p {
    overflow-wrap: break-word;
}
.mensagem p.estilo {
    width: 100%;
    max-width: 800px;
    margin: 0.2rem auto;
}

.mensagem textarea {
    width: 80%;
    margin: 0.5rem auto;
}

button.altera {
    color: snow;
    background: darkgreen;
    align-self: flex-start;
    margin: 1rem;
}

.digita {
    justify-self: flex-end;
    background: grey;
    width: 80%;
    max-width: 1000px;
    height: auto;
    padding: 0.5rem;
    text-align: center;
    display: flex;
    margin: 1rem auto;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

.digita button {
    align-self: flex-start;
    margin: 1rem;
}

.digita textarea {
    margin: 0 auto;
    width: 100%;
}


